@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

header {
  background: #4a90e2;
  display: flex;
  justify-content: center;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  padding: 0 40px;
  color: #ffffff;
  width: 100%;
  font-size: 16px;
}

header nav img {
  height: 24px;
}

nav > span {
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav > div {
  display: flex;
  align-items: center;
}

nav > div i {
  margin-left: 8px;
}
