.post {
  margin-top: 30px;
  border-radius: 15px;
  background: white;
  color: #3e3e3e;
  padding: 20px;
  line-height: 23px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.postHeader {
  display: flex;
  align-items: center;
}

.postHeader .details {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  font-size: 13px;
  color: #888888;
  line-height: 14px;
}

.postHeader .details span:first-child {
  font-size: 18px;
  color: #4b4b4b;
  font-weight: bold;
  margin-bottom: 5px;
}

.avatar {
  min-height: 32px;
  min-width: 32px;
  height: 32px;
  width: 32px;
  border-radius: 50px;
}

.postContent {
  margin-top: 15px;
  font-size: 16px;
}

.divider {
  width: 100%;
  height: 1px;
  background: #d1d1d1;
}

.postComment {
  margin-top: 15px;
}

.comment {
  margin-top:20px;
  display: flex;
}

.comment p {
  border-radius: 20px;
  background: #eeeeee;
  margin-left: 8px;
  padding: 8px 15px;
  font-size: 14px;
  text-align: justify;
}

.comment span {
  font-weight: bold;
  margin-right: 6px;
}